// Reset css
* {
  all: unset;
  font-family: Noto Sans;
  background-color: %clbg%;
  color: %clfg%;
}

/**************************/
/*        CALENDAR        */
/**************************/

.calendar {
  font-size: 20px;
  padding: 5px;
}

.calendar:selected {
  color: %clbg%; // font color of selected day
  background-color: %clfg%; // background color of selected day
  border-radius: 10%;
}

.calendar.header {
  color: %cl1%; // font color of month and year
}

.calendar.highlight {
  color: %cl0%; // color of day names
  background-color: %cl3%;
}

.calendar:inconsistent {
  // color: %cl6%;
  color: #757575;
  // color: #6c809e;
}
