// Reset css
* {
  all: unset;
  font-family: Noto Sans;
  background-color: #0f1419;
  color: #e6e1cf;
}

/**************************/
/*        CALENDAR        */
/**************************/

.calendar {
  font-size: 20px;
  padding: 5px;
}

.calendar:selected {
  color: #0f1419; // font color of selected day
  background-color: #e6e1cf; // background color of selected day
  border-radius: 10%;
}

.calendar.header {
  color: #ff7733; // font color of month and year
}

.calendar.highlight {
  color: #0a0e14; // color of day names
  background-color: #e6b673;
}

.calendar:indeterminate {
  color: #95e6cb;
  // color: #757575;
  // color: #6c809e;
}
